@model ModelLayer.Models.LoginModel

@{
    ViewData["Title"] = "EmployeeLogin";
}
<style>
    .container {
        display: flex;
        justify-content: center;
    }
    .row{
        display: flex;
        justify-content: center;
        border: 1px solid black;
        background-color: bisque;
        width: 500px;
        height:320px;
        border-radius: 23px;
    }

    .col-md-4 {
        width: 60%;
        padding: 25px;
    }

    h1{
        padding: 10px;
        text-align: center;
        color:lavenderblush;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }

    .footer {
        padding: 10px;
        position: absolute;
        bottom: 0;
        width: 360px;
        color:white;
    }

</style>

<h1>EMPLOYEE LOGIN</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EmployeeLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="padding:10px 0px">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding:10px 0px">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllEmployee" style="color:white;">Dashboard</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
